<!DOCTYPE html>
<html>
<head>
  <title>Recepies world</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-default">
    <div class="container">
      <%= link_to "myRecepies", "", class: "btn btn-lg btn-success", id: "logo" %>
      <div class="nav_items">
        <%= link_to "Link 1", "", class: "btn btn-lg btn-warning" %>
      </div>
      <div class="nav_items">
        <%= link_to "Link 1", "", class: "btn btn-lg btn-warning" %>
      </div>
      <div class="nav_items">
        <%= link_to "Link 1", "", class: "btn btn-lg btn-warning" %>
      </div>
    </div>
  </header>
<div class="container">
  <%= yield %>
  
  <div class='container text-center footerDiv'>
    <footer>@ Myrecepie 2015</footer>
  </div>
</div>

</body>
</html>
